<div class="navbar  navbar-expand-sm navbar-light ">
  <div class=" col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2">
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "logo" %>
      <h4>AgroMart</h4>
    <% end %>
  </div>
  <div class=" d-none d-md-block col-md-4 col-lg-5 col-xl-6 ">
    <%= form_tag listings_path, class: "searchbar", method: :get do %>
      <%= text_field_tag :name, params[:name],class: "searchbar-body col-10", placeholder: "Search" %>
      <%= button_tag(type: "submit", class: "col-2 btn btn-default") do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div class=" col-6 col-sm-6 col-md-5 col-lg-4 col-xl-4 d-flex justify-content-end">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <div class=" d-none d-md-flex">
            <li class="nav-item active">
              <%= link_to listings_path, class: "nav-link" do %>
                Buy
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to new_listing_path, class: "nav-link" do %>
                Sell
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to orders_path, class: "nav-link" do %>
                My Orders
              <% end %>
            </li>
          </div>
          <li class="ml-auto nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="dropdown-item">Sign Out</div>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              Sign In
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
